FlujoWhatsAppN8N.json
{
  "name": "TallerIntegrador WhatsApp",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        -48
      ],
      "id": "d4fdad49-4190-471d-aab5-460c0ae39f0a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7720dc8f-5fef-42f3-a79c-ccf42120b9b5",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "proceso de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "inicio de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a10583a1-f1fb-487e-bbc9-eeb902b85caf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9c3cb8e-4915-4fde-a731-f7c8b5ceee15",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "no cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "03303bdd-81fa-4f79-82ce-fa7a2dc896fd",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "preguntas frecuentes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "daa6c69d-299a-41d2-af7b-9ea65f465a25",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "comunicar humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        -400
      ],
      "id": "f179b911-ad4e-4db1-b674-c541d5442bd9",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        -272
      ],
      "id": "0682e2e4-207c-4b13-9f76-60660bee146b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        96,
        -736
      ],
      "id": "52f17e51-a27e-4ee7-8151-0958f591fbd8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        -272
      ],
      "id": "6e2f27f4-480d-45ba-825f-25514d42c54c",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        176,
        -560
      ],
      "id": "182c9b9f-47a5-43a8-b21f-3293a2226999",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        -768
      ],
      "id": "14975a09-c1c6-4449-baf4-835923337426",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        -672
      ],
      "id": "ee6b79e8-7674-4380-bd7f-53c90aebe6fd",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        -768
      ],
      "id": "ca9bcc6f-a1b5-4306-ae9d-6428ce1a8ef8",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        -672
      ],
      "id": "5ed37146-8bd6-4426-8b7a-b43dcc212eaa",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        -672
      ],
      "id": "7f8a3dbb-804e-48d3-ba76-2d4b33afdb88",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -288,
        -384
      ],
      "id": "d1592e3c-2a8c-4e81-ab2a-025eeed4e539",
      "name": "Wait",
      "webhookId": "d2dbab77-3c61-4656-b59f-17fe5a9d5682"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        240,
        64
      ],
      "id": "e194c409-7694-41f9-b5da-14e28070021a",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "Eres un experto en gestion de intenciones para la gestion de horarios en una clinica odontologia. Debes clasificar si desea una cita en el horario u otra cosa. Tu respuesta debe ser UNICAMENTE: \"inicio de cita\", \"proceso de cita\", \"no cita\", \"preguntas frecuentes\" o \"comunicar humano\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        -288
      ],
      "id": "9aa5eaa0-fcd9-4ffb-8439-a1cafcae398b",
      "name": "Agente Clasificador De Intenciones",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=# ROL Y OBJETIVO\nEres un agente de Inteligencia Artificial especializado en atención al paciente para una clínica odontológica. \nTu objetivo principal es resolver consultas frecuentes (tratamientos y costos) de manera precisa y lograr la mayor **eficiencia en la gestion de citas**, orientando la conversación hacia la reserva de una evaluación inicial.\nLa fecha y hora actual es: {{ $now }}, hora peruana.\n\n# BASE DE CONOCIMIENTO (KNOWLEDGE BASE)\n\n## 1. Tratamientos y Servicios\n- Especialidades principales: Ortodoncia, Endodoncia y Estética.\n- Blanqueamiento dental: Tiene una duración aproximada de entre 30 y 45 minutos.\n- Cirugías: Sí se realizan cirugías de cordales (muelas del juicio).\n- Odontopediatría: Se atiende a niños, pero es un requisito indispensable que estén acompañados por sus familiares en todo momento.\n- Casos complejos: No asumas diagnósticos. Si el paciente menciona un tratamiento complejo, indica que debe ser evaluado directamente por el doctor para confirmar si es realizable.\n\n## 2. Costos y Métodos de Pago\n- Precios: Nunca proporciones montos específicos ni presupuestos exactos. El costo de cualquier tratamiento es manejado y determinado exclusivamente por el doctor bajo su criterio tras una evaluación clínica.\n- Métodos de pago preferenciales: Únicamente Yape y dinero en efectivo.\n\n# REGLAS DE COMPORTAMIENTO (CONSTRAINTS)\n1. Tono: Mantén un lenguaje empático, profesional, claro y persuasivo.\n2. Derivación a Cita: Toda respuesta relacionada con precios o tratamientos complejos debe concluir con una invitación directa a agendar una cita de evaluación.\n3. Límites: Si el usuario pregunta algo fuera del ámbito odontológico o de la clínica, responde amablemente que tu función es exclusiva para la asistencia dental.\n\n# FORMATO DE RESPUESTA ESPERADO\n- Sé conciso. No generes párrafos largos.\n- Usa listas con viñetas si debes enumerar información.\n- Termina siempre tu intervención cediéndole la palabra al usuario con una pregunta orientada a agendar la cita.\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        -128
      ],
      "id": "0519cf23-98eb-4cbb-9a96-b35b3b11fc3e",
      "name": "Agente FAQ"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=Eres un experto gestor de citas de horarios.\nLa fecha y hora actual es: {{ $now }}, hora peruana.\nComo se está empezando la cita debes saludar y preguntar para que fecha desea la cita.\nLa persona que te habla es un cliente, por lo que no es el dueño.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -464
      ],
      "id": "66a20e6e-785e-4357-83d6-fa1a9061a82e",
      "name": "Agente de proceso"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=# ROL Y OBJETIVO\nEres un asistente virtual experto y amable, especializado en la gestión eficiente de citas para una clínica. Tu objetivo principal es ayudar a los pacientes a consultar horarios, agendar, modificar o cancelar sus citas, ofreciendo una experiencia fluida y sin fricciones. \nNO gestionas la agenda personal del doctor, solo atiendes a los pacientes.\n\n# CONTEXTO TEMPORAL\n- La fecha y hora actual es: {{ $now }} (Hora de Perú, GMT-5).\n- Si el usuario menciona un día de la semana (ej. \"el martes\") sin dar fecha exacta, asume que se refiere al *próximo* día que coincida con ese nombre en el calendario.\n\n# HORARIOS DE ATENCIÓN Y SERVICIOS\nSolo puedes agendar citas dentro del siguiente horario laboral:\n- Mañanas: 10:00 AM a 1:00 PM\n- Tardes: 4:00 PM a 8:00 PM\n(No agendes fuera de estos rangos bajo ninguna circunstancia).\n\nDuración de las citas según el motivo:\n- Curación simple: 30 minutos.\n- Revisión: 15 minutos.\n- Otros motivos / Curacion general: 1 hora.\n\n# REGLAS DE FLUJO Y USO DE HERRAMIENTAS\n1. CONSULTA DE DISPONIBILIDAD: Antes de ofrecer un horario o confirmar una cita, SIEMPRE revisa el calendario para asegurarte de que el espacio está libre. Saluda cordialmente y ofrece los espacios disponibles en el día solicitado por el paciente.\n2. CREACIÓN DE CITAS: Para agendar, debes recopilar obligatoriamente: \n   - Nombre del paciente.\n   - Motivo de la cita (para calcular la duración).\n   - Fecha y hora exacta (validada previamente).\n   Solo cuando el paciente confirme explícitamente, procede a agendar.\n3. ACTUALIZACIÓN DE CITAS: Si un paciente desea cambiar su cita, pregúntale para qué nuevo día y hora desea reprogramarla y verifica disponibilidad antes de ejecutar el cambio.\n4. CANCELACIÓN DE CITAS (RESTRICCIONES CRÍTICAS):\n   - SOLO puedes eliminar citas del paciente con el que estás hablando actualmente (valida que el nombre coincida).\n   - REGLA DE 24 HORAS: Solo se permite cancelar una cita si falta MÁS de 1 día (24 horas) para que esta ocurra. Si falta menos tiempo, informa amablemente que las políticas de la clínica no permiten cancelaciones de último minuto.\n\n# TONO DE RESPUESTA\nSé empático, profesional, claro y conciso. Evita respuestas excesivamente largas; ve directo a la gestión de la cita manteniendo la amabilidad."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -944
      ],
      "id": "e7e0496f-4329-4e2d-a129-07cb7972a6ad",
      "name": "Agente Maestro Citas"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -480,
        -48
      ],
      "id": "de590a43-8f25-4469-ac7a-368cbd75d6de",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lista de expresiones regulares para detectar patrones maliciosos comunes\nconst maliciousPatterns = [\n  /ignora.*instrucciones/i,           // Prompt injection en español\n  /ignore.*previous.*instructions/i,  // Prompt injection en inglés\n  /system prompt/i,                   // Intentos de extraer el prompt del sistema\n  /jailbreak/i,                       // Intentos de evasión\n  /actúa como.*sin restricciones/i,   // Patrones de DAN (Do Anything Now)\n  /bypass/i,                          // Intentos de saltar filtros\n  /<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, // XSS básico\n  /(UNION|SELECT|DROP|INSERT).*;/i    // Inyección SQL básica (por precaución)\n];\n\n// Límite de caracteres para evitar ataques de denegación de servicio por prompts gigantes\nconst MAX_LENGTH = 1500; \n\nfor (const item of $input.all()) {\n  // Ajuste para extraer el texto correctamente desde el webhook de Chatwoot\n  // El mensaje principal viene en la propiedad \"content\" dentro de \"body\"\n  const text = item.json?.body?.content || \"\";\n  \n  let isMalicious = false;\n  let reason = \"\";\n\n  // 1. Verificación de longitud\n  if (text.length > MAX_LENGTH) {\n    isMalicious = true;\n    reason = \"Payload supera el límite de longitud permitido.\";\n  }\n\n  // 2. Verificación de patrones con Regex\n  if (!isMalicious && text.length > 0) {\n    for (const pattern of maliciousPatterns) {\n      if (pattern.test(text)) {\n        isMalicious = true;\n        reason = `Detectado patrón sospechoso: ${pattern.toString()}`;\n        break;\n      }\n    }\n  }\n\n  // Agregamos las banderas al JSON de salida para poder enrutarlo después (usando un Switch Node o If Node)\n  item.json.securityCheck = {\n    isMalicious: isMalicious,\n    reason: reason\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -272
      ],
      "id": "833cd1c3-8451-484e-b267-5ec670f45ccf",
      "name": "Verificador Payloads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93c83532-8d93-45b9-ba1a-47bcaff976a9",
              "leftValue": "={{ $json.securityCheck.isMalicious }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        -272
      ],
      "id": "d750e8ac-1ee6-4526-bdb2-1eae7fa5b0f6",
      "name": "If malicioso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Por favor, no mande mensajes maliciosos"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        -32
      ],
      "id": "52aeafc0-4fce-4ff3-a3ff-af9936773553",
      "name": "Envío WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "85zugsPL8wps0whL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Ocurrio un error, por favor vuelva a enviar el mensaje."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -80
      ],
      "id": "9ad5b70a-7689-4450-9981-5a256092c2f6",
      "name": "Envío Mensaje error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "85zugsPL8wps0whL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -128
      ],
      "id": "7b6cc7bc-0ad0-410f-87fd-a6b3b84281c6",
      "name": "Envío Mensaje Frecuente WA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "85zugsPL8wps0whL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -448
      ],
      "id": "275903bd-0258-44ea-9563-fe1254c15e9e",
      "name": "Envío Mensaje Proceso WA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "85zugsPL8wps0whL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -976
      ],
      "id": "f38c1e0a-e418-426d-84f4-20633de6736e",
      "name": "Mensaje Maestro WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "85zugsPL8wps0whL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=Ocurrió un error en un log, porfavor revisar.\nId: {{ $json.result.chat.id }} \nFirst Name: {{ $json.result.chat.first_name }} \nLast Name: {{ $json.result.chat.last_name }} \nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        128
      ],
      "id": "79efddf2-73a2-4cac-8f37-a33ef311d122",
      "name": "Aviso Error Log Admin",
      "webhookId": "f6ae22ee-7dbe-41f4-a499-b2f1fb0ef725",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=Ocurrió un error en un log, porfavor revisar\nTime: {{ $now }}\nId: {{ $json.result.chat.id }}\nFirst Name: {{ $json.result.chat.first_name }}\nLast Name: {{ $json.result.chat.last_name }}\nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}\nId Workflow: {{ $workflow.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -80,
        112
      ],
      "id": "262928d1-0ca3-4011-b283-eae6553cdf87",
      "name": "Alerta de Error a Admin",
      "webhookId": "f6ac2bc0-7ff3-4da1-8a63-58ed2c4feb52",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=SE SOLICITA COMUNICACION CON UN HUMANO, porfavor revisar\nTime: {{ $now }}\nId: {{ $json.result.chat.id }}\nFirst Name: {{ $json.result.chat.first_name }}\nLast Name: {{ $json.result.chat.last_name }}\nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}\nId Workflow: {{ $workflow.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -80
      ],
      "id": "63d7dd78-af21-4e4d-bf01-e0a915671495",
      "name": "SOLICITUD HUMANO",
      "webhookId": "2d8decac-a79a-450f-aed9-389346ddd2da",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=¡Buen dia!\nPor favor indique si necesita una cita o informacion adicional."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -352
      ],
      "id": "76ce3677-cf47-4f68-80c9-eac7661cacba",
      "name": "Envío Mensaje Petición cita",
      "credentials": {
        "httpHeaderAuth": {
          "id": "85zugsPL8wps0whL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -464
      ],
      "id": "492d31f3-4a45-41a4-b4f0-a6f603e28806",
      "name": "Trigger Mensaje WhatsApp",
      "webhookId": "2cc8a1c3-38fc-4eac-be0e-536dc1011783"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de proceso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío Mensaje Petición cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLICITUD HUMANO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de proceso",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Agente de proceso",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente FAQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clasificador De Intenciones": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío Mensaje error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente FAQ": {
      "main": [
        [
          {
            "node": "Envío Mensaje Frecuente WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de proceso": {
      "main": [
        [
          {
            "node": "Envío Mensaje Proceso WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Maestro Citas": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Verificador Payloads": {
      "main": [
        [
          {
            "node": "If malicioso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If malicioso": {
      "main": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío WhatsApp": {
      "main": [
        [
          {
            "node": "Aviso Error Log Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío Mensaje error": {
      "main": [
        [
          {
            "node": "Alerta de Error a Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Verificador Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Lima",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "639baa81-ffae-4673-8260-44a53278db64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e847df90d1d13245580751d610403e96b18f1d2a0ddccff8559796e30435b378"
  },
  "id": "aR8yICkRQbJu3t6g",
  "tags": []
}