FlujoWhatsAppN8N.json
{
  "name": "TallerIntegrador WhatsApp",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        -48
      ],
      "id": "d4fdad49-4190-471d-aab5-460c0ae39f0a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7720dc8f-5fef-42f3-a79c-ccf42120b9b5",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "proceso de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "inicio de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a10583a1-f1fb-487e-bbc9-eeb902b85caf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9c3cb8e-4915-4fde-a731-f7c8b5ceee15",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "no cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "03303bdd-81fa-4f79-82ce-fa7a2dc896fd",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "preguntas frecuentes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "daa6c69d-299a-41d2-af7b-9ea65f465a25",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "comunicar humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        -400
      ],
      "id": "f179b911-ad4e-4db1-b674-c541d5442bd9",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        -272
      ],
      "id": "0682e2e4-207c-4b13-9f76-60660bee146b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        96,
        -736
      ],
      "id": "52f17e51-a27e-4ee7-8151-0958f591fbd8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        -272
      ],
      "id": "6e2f27f4-480d-45ba-825f-25514d42c54c",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        176,
        -560
      ],
      "id": "182c9b9f-47a5-43a8-b21f-3293a2226999",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        -768
      ],
      "id": "14975a09-c1c6-4449-baf4-835923337426",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        -672
      ],
      "id": "ee6b79e8-7674-4380-bd7f-53c90aebe6fd",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        -768
      ],
      "id": "ca9bcc6f-a1b5-4306-ae9d-6428ce1a8ef8",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        -672
      ],
      "id": "5ed37146-8bd6-4426-8b7a-b43dcc212eaa",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        -672
      ],
      "id": "7f8a3dbb-804e-48d3-ba76-2d4b33afdb88",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        240,
        64
      ],
      "id": "e194c409-7694-41f9-b5da-14e28070021a",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "# ROL Y OBJETIVO\nEres un experto en clasificación de intenciones para un sistema automatizado de una clínica odontológica. Tu tarea es analizar el ÚLTIMO mensaje del usuario, teniendo en cuenta el historial de la conversación, para determinar en qué estado se encuentra.\n\n# REGLAS DE CLASIFICACIÓN ESTRICTA\nTu respuesta debe ser ÚNICA Y EXCLUSIVAMENTE una de las siguientes 5 opciones (sin comillas, sin puntos finales y en minúsculas). Analiza el texto según estas definiciones:\n\n* inicio de cita: El usuario saluda, pide información inicial para agendar o solicita un turno por primera vez, pero el sistema AÚN NO le ha ofrecido fechas ni le ha pedido sus datos personales.\n* proceso de cita: El usuario está continuando un agendamiento que ya está en marcha. Úsalo cuando el usuario proporciona datos que el sistema le acaba de pedir (ej. \"Mi nombre es Juan y quiero una revisión general\"), cuando confirma un horario propuesto, o cuando propone otra hora dentro de una negociación de turnos.\n* preguntas frecuentes: El usuario pregunta sobre tratamientos, precios, ubicación, horarios o si atienden casos específicos, SIN confirmar un agendamiento en ese momento.\n* comunicar humano: El usuario pide explícitamente hablar con el doctor, administración, un asesor humano, o menciona una emergencia médica grave.\n* no cita: El usuario envía mensajes irrelevantes, audios vacíos, despedidas simples (\"gracias, adiós\") o temas fuera del contexto odontológico."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        -288
      ],
      "id": "9aa5eaa0-fcd9-4ffb-8439-a1cafcae398b",
      "name": "Agente Clasificador De Intenciones",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=# ROL Y OBJETIVO\nEres un agente de Inteligencia Artificial especializado en atención al paciente por canales como WhatsApp y llamadas para una clínica odontológica. \nTu objetivo principal es resolver consultas frecuentes (tratamientos, horarios y costos) de manera precisa y lograr la mayor **eficiencia en la gestion de citas**, orientando la conversación hacia la reserva de una evaluación inicial.\nLa fecha y hora actual es: {{ $now }}, hora peruana.\n\n# HORARIOS Y POLÍTICAS DE AGENDAMIENTO\n- Horario de atención regular: Lunes a sábado de 8:00 am a 12:00 pm y de 4:00 pm a 9:00 pm (Excepto feriados).\n- Anticipación: Las citas regulares se agendan con un margen de hasta 72 horas. Indica al paciente que usualmente no hay disponibilidad para el mismo día.\n- Citas de urgencia: Si el paciente presenta una urgencia, indícale que estas se gestionan en un horario extra que debe ser aprobado y decidido exclusivamente por el odontólogo principal. Toma sus datos para consultarlo.\n\n# BASE DE CONOCIMIENTO (KNOWLEDGE BASE)\n\n## 1. Tratamientos y Duraciones\nUtiliza los siguientes tiempos como referencia para explicar al paciente o buscar disponibilidad:\n- Restauraciones, Endodoncias y Ortodoncias: 20 a 30 minutos.\n- Cirugías (ej. extracción de cordales/muelas del juicio) y Rehabilitación Oral: 30 a 60 minutos.\n- Blanqueamiento dental: 30 a 45 minutos.\n\n## 2. Restricciones Estrictas (Lo que NO se hace)\n- No se atiende a niños bajo ninguna circunstancia.\n- No se realizan cirugías ortognáticas.\n- No se realizan cirugías condilares ni tumorales.\n- Casos complejos: No asumas diagnósticos. Si el paciente menciona un caso fuera de lo común, indica que debe ser evaluado directamente por el doctor para confirmar viabilidad.\n\n## 3. Costos y Métodos de Pago\n- Precios: Nunca proporciones montos específicos ni presupuestos exactos. El costo final es determinado exclusivamente por el doctor bajo su criterio tras la evaluación clínica.\n- Métodos de pago aceptados: Únicamente dinero en efectivo.\n\n# REGLAS DE COMPORTAMIENTO (CONSTRAINTS)\n1. Tono: Mantén un lenguaje empático, profesional, claro y persuasivo.\n2. Derivación a Cita: Toda respuesta relacionada con disponibilidad, precios o tratamientos complejos debe concluir con una invitación directa a agendar una cita de evaluación.\n3. Límites de alcance: Si el usuario pregunta algo fuera del ámbito odontológico o de la clínica, responde amablemente que tu función es exclusiva para la asistencia dental.\n\n# FORMATO DE RESPUESTA ESPERADO\n- Sé conciso. Evita los párrafos largos y adáptate a la lectura rápida en WhatsApp.\n- Usa listas con viñetas si debes enumerar información (como los horarios o tratamientos).\n- Termina siempre tu intervención cediéndole la palabra al usuario con una pregunta orientada a agendar la cita o continuar el proceso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        -128
      ],
      "id": "0519cf23-98eb-4cbb-9a96-b35b3b11fc3e",
      "name": "Agente FAQ"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=Eres un experto gestor de citas de horarios para una clinica odontologica.\nLa fecha y hora actual es: {{ $now }}, hora peruana.\nComo se está empezando la cita debes saludar y preguntar para que fecha desea la cita.\n\nLa persona que te habla es un cliente, por lo que no es el dueño.\n\nLímites de alcance: Si el usuario pregunta algo fuera del ámbito odontológico o de la clínica, responde amablemente que tu función es exclusiva para la asistencia dental.\n\n# FORMATO DE RESPUESTA ESPERADO\n- Sé conciso. Evita los párrafos largos y adáptate a la lectura rápida en WhatsApp.\n- Usa listas con viñetas si debes enumerar información.\n- Termina siempre tu intervención cediéndole la palabra al usuario con una pregunta orientada a agendar la cita o continuar el proceso.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -464
      ],
      "id": "66a20e6e-785e-4357-83d6-fa1a9061a82e",
      "name": "Agente de proceso"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=# ROL Y OBJETIVO\nEres un asistente virtual experto y amable, especializado en una clínica odontológica y con acceso a herramientas de Google Calendar. Tu objetivo principal es ayudar a los pacientes a consultar horarios, agendar, modificar o cancelar sus citas, logrando la mayor eficiencia en la gestion de citas y ofreciendo una experiencia fluida y sin fricciones. \nNO gestionas la agenda personal del doctor, solo atiendes a los pacientes.\n\n# CONTEXTO TEMPORAL\n- La fecha y hora actual es: {{ $now }} (Hora de Perú, GMT-5).\n- Si el usuario menciona un día de la semana (ej. \"el martes\") sin dar fecha exacta, asume que se refiere al *próximo* día que coincida con ese nombre en el calendario.\n\n# HORARIOS DE ATENCIÓN Y POLÍTICAS DE AGENDA\nSolo puedes agendar citas dentro del siguiente horario laboral (lunes a sábado, excepto feriados):\n- Mañanas: 8:00 AM a 12:00 PM\n- Tardes: 4:00 PM a 9:00 PM\n(No agendes fuera de estos rangos bajo ninguna circunstancia).\n\nPolíticas de anticipación y urgencias:\n- Las citas regulares se agendan con un margen de hasta 72 horas.\n- NO permitas agendar citas para el mismo día (usualmente no hay espacios libres).\n- Citas de urgencia: No las agendes directamente en el calendario. Indica que se gestionan en un horario extra decidido por el odontólogo principal y toma los datos del paciente para que la clínica se comunique con él.\n\n# DURACIÓN DE LAS CITAS (CALCULO DE BLOQUES)\nAjusta la duración del evento en el calendario según el motivo de la consulta:\n- Restauraciones, Endodoncias y Ortodoncias: 30 minutos.\n- Blanqueamiento dental: 45 minutos.\n- Cirugías (ej. cordales) y Rehabilitación oral: 60 minutos.\n- Evaluaciones iniciales / Revisiones generales: 30 minutos.\n\nRestricciones de atención (NO agendar bajo ninguna circunstancia):\n- Pacientes niños (la clínica no atiende odontopediatría).\n- Cirugías ortognáticas, condilares o tumorales.\n\n# REGLAS DE FLUJO Y USO DE HERRAMIENTAS\n1. CONSULTA DE DISPONIBILIDAD: Antes de ofrecer un horario o confirmar una cita, SIEMPRE revisa el calendario para asegurarte de que el espacio está libre. Saluda cordialmente y ofrece los espacios disponibles respetando la regla de no agendar el mismo día.\n2. CREACIÓN DE CITAS: Para agendar, debes recopilar obligatoriamente: \n   - Nombre del paciente (verifica que sea adulto).\n   - Motivo de la cita (para calcular la duración y verificar que no sea un servicio restringido).\n   - Fecha y hora exacta (validada previamente).\n   Solo cuando el paciente confirme explícitamente, procede a agendar la cita en el calendario.\n3. ACTUALIZACIÓN DE CITAS: Si un paciente desea cambiar su cita, pregúntale para qué nuevo día y hora desea reprogramarla y verifica disponibilidad antes de ejecutar el cambio.\n4. CANCELACIÓN DE CITAS (RESTRICCIONES CRÍTICAS):\n   - SOLO puedes eliminar citas del paciente con el que estás hablando actualmente (valida que el nombre coincida).\n   - REGLA DE 24 HORAS: Solo se permite cancelar una cita si falta MÁS de 1 día (24 horas) para que esta ocurra. Si falta menos tiempo, informa amablemente que las políticas de la clínica no permiten cancelaciones de último minuto.\n\n# TONO DE RESPUESTA\nSé empático, profesional, claro y conciso. Evita respuestas excesivamente largas; ve directo a la gestión de la cita manteniendo la amabilidad y confirmando siempre las acciones realizadas en el calendario.\n\n# FORMATO DE RESPUESTA OBLIGATORIO\nTu respuesta final DEBE ser única y exclusivamente un objeto JSON válido, sin formato Markdown (no uses ```json), sin texto introductorio y sin despedidas fuera del JSON.\n\nDebes analizar las acciones que tomaste con las herramientas de Google Calendar en este turno y generar el JSON con la siguiente estructura exacta:\n\n{\n  \"mensaje_paciente\": \"Aquí redactas la respuesta empática y natural que leerá el paciente en WhatsApp.\",\n  \"accion_realizada\": \"VALOR\",\n  \"datos_cita\": {\n    \"nombre_paciente\": \"Nombre del paciente o null\",\n    \"fecha_hora\": \"YYYY-MM-DD HH:mm o null\",\n    \"motivo_consulta\": \"Motivo resumido o null\",\n    \"google_event_id\": \"Si usaste Calendar, pon el ID del evento aquí. Si no, null\"\n  }\n}\n\nReglas para el campo \"accion_realizada\":\n- Usa \"CREATE\" si acabas de agendar una cita nueva.\n- Usa \"UPDATE\" si acabas de reprogramar una cita existente.\n- Usa \"DELETE\" si acabas de cancelar una cita.\n- Usa \"NONE\" si solo consultaste disponibilidad, si el usuario no confirmó, o si respondiste una duda general."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -944
      ],
      "id": "e7e0496f-4329-4e2d-a129-07cb7972a6ad",
      "name": "Agente Maestro Citas",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -480,
        -48
      ],
      "id": "de590a43-8f25-4469-ac7a-368cbd75d6de",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lista de expresiones regulares para detectar patrones maliciosos comunes\nconst maliciousPatterns = [\n  /ignora.*instrucciones/i,           // Prompt injection en español\n  /ignore.*previous.*instructions/i,  // Prompt injection en inglés\n  /system prompt/i,                   // Intentos de extraer el prompt del sistema\n  /jailbreak/i,                       // Intentos de evasión\n  /actúa como.*sin restricciones/i,   // Patrones de DAN (Do Anything Now)\n  /bypass/i,                          // Intentos de saltar filtros\n  /<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, // XSS básico\n  /(UNION|SELECT|DROP|INSERT).*;/i    // Inyección SQL básica (por precaución)\n];\n\n// Límite de caracteres para evitar ataques de denegación de servicio por prompts gigantes\nconst MAX_LENGTH = 1500; \n\nfor (const item of $input.all()) {\n  // Ajuste para extraer el texto correctamente desde el webhook de Chatwoot\n  // El mensaje principal viene en la propiedad \"content\" dentro de \"body\"\n  const text = item.json?.body?.content || \"\";\n  \n  let isMalicious = false;\n  let reason = \"\";\n\n  // 1. Verificación de longitud\n  if (text.length > MAX_LENGTH) {\n    isMalicious = true;\n    reason = \"Payload supera el límite de longitud permitido.\";\n  }\n\n  // 2. Verificación de patrones con Regex\n  if (!isMalicious && text.length > 0) {\n    for (const pattern of maliciousPatterns) {\n      if (pattern.test(text)) {\n        isMalicious = true;\n        reason = `Detectado patrón sospechoso: ${pattern.toString()}`;\n        break;\n      }\n    }\n  }\n\n  // Agregamos las banderas al JSON de salida para poder enrutarlo después (usando un Switch Node o If Node)\n  item.json.securityCheck = {\n    isMalicious: isMalicious,\n    reason: reason\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -272
      ],
      "id": "833cd1c3-8451-484e-b267-5ec670f45ccf",
      "name": "Verificador Payloads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93c83532-8d93-45b9-ba1a-47bcaff976a9",
              "leftValue": "={{ $json.securityCheck.isMalicious }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        -272
      ],
      "id": "d750e8ac-1ee6-4526-bdb2-1eae7fa5b0f6",
      "name": "If malicioso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Por favor, no mande mensajes maliciosos"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        -32
      ],
      "id": "52aeafc0-4fce-4ff3-a3ff-af9936773553",
      "name": "Envío WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Ocurrio un error, por favor vuelva a enviar el mensaje."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -80
      ],
      "id": "9ad5b70a-7689-4450-9981-5a256092c2f6",
      "name": "Envío Mensaje error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -128
      ],
      "id": "7b6cc7bc-0ad0-410f-87fd-a6b3b84281c6",
      "name": "Envío Mensaje Frecuente WA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -448
      ],
      "id": "275903bd-0258-44ea-9563-fe1254c15e9e",
      "name": "Envío Mensaje Proceso WA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Code in JavaScript').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -688
      ],
      "id": "f38c1e0a-e418-426d-84f4-20633de6736e",
      "name": "Mensaje Maestro WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=Ocurrió un error en un log, porfavor revisar.\nId: {{ $json.result.chat.id }} \nFirst Name: {{ $json.result.chat.first_name }} \nLast Name: {{ $json.result.chat.last_name }} \nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        128
      ],
      "id": "79efddf2-73a2-4cac-8f37-a33ef311d122",
      "name": "Aviso Error Log Admin",
      "webhookId": "f6ae22ee-7dbe-41f4-a499-b2f1fb0ef725",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=Ocurrió un error en un log, porfavor revisar\nTime: {{ $now }}\nId: {{ $json.result.chat.id }}\nFirst Name: {{ $json.result.chat.first_name }}\nLast Name: {{ $json.result.chat.last_name }}\nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}\nId Workflow: {{ $workflow.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -80,
        112
      ],
      "id": "262928d1-0ca3-4011-b283-eae6553cdf87",
      "name": "Alerta de Error a Admin",
      "webhookId": "f6ac2bc0-7ff3-4da1-8a63-58ed2c4feb52",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=SE SOLICITA COMUNICACION CON UN HUMANO, porfavor revisar\nTime: {{ $now }}\nId: {{ $json.result.chat.id }}\nFirst Name: {{ $json.result.chat.first_name }}\nLast Name: {{ $json.result.chat.last_name }}\nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}\nId Workflow: {{ $workflow.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -80
      ],
      "id": "63d7dd78-af21-4e4d-bf01-e0a915671495",
      "name": "SOLICITUD HUMANO",
      "webhookId": "2d8decac-a79a-450f-aed9-389346ddd2da",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=¡Buen dia!\nPor favor indique si necesita una cita o informacion adicional."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -352
      ],
      "id": "76ce3677-cf47-4f68-80c9-eac7661cacba",
      "name": "Envío Mensaje Petición cita",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -464
      ],
      "id": "492d31f3-4a45-41a4-b4f0-a6f603e28806",
      "name": "Trigger Mensaje WhatsApp",
      "webhookId": "2cc8a1c3-38fc-4eac-be0e-536dc1011783"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el texto crudo que devolvió el Agente\nlet rawOutput = $input.first().json.output || \"\";\n\n// 2. Limpiamos cualquier rastro de Markdown que el LLM haya podido agregar por error\nlet cleanedOutput = rawOutput.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  // 3. Convertimos el texto en un objeto JSON procesable\n  const parsedData = JSON.parse(cleanedOutput);\n  \n  // Retornamos los datos limpios para que los siguientes nodos los usen\n  return { json: parsedData };\n\n} catch (error) {\n  // 4. Mecanismo de seguridad: Si el LLM alucinó y no dio un JSON válido, \n  // enviamos un mensaje de error al paciente y evitamos que el flujo falle críticamente.\n  return {\n    json: {\n      \"mensaje_paciente\": \"Tuvimos un pequeño inconveniente procesando tu solicitud en el sistema. ¿Podrías confirmarme tu requerimiento nuevamente?\",\n      \"accion_realizada\": \"NONE\",\n      \"datos_cita\": null,\n      \"error_interno\": error.message\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -1008
      ],
      "id": "aa67eccf-dc62-4406-84bd-43f721f77176",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "CREATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "abd4992d-d79f-4873-b81f-f85fa4bb237e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "19095603-1070-40dd-864f-34ce37d4f3a8",
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c20ba90-b10e-4689-9072-5e4f567c3dd5",
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3dd06a39-c76b-4242-be8a-6d29792932e8",
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "NONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        -1056
      ],
      "id": "9a3031b7-5acc-4c21-a079-16baf030727e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_paciente": "={{ $('Trigger Mensaje WhatsApp').item.json.body.conversation.messages[0].sender.phone_number }}",
            "fecha_hora_cita": "={{ $('Code in JavaScript').item.json.datos_cita.fecha_hora }}",
            "created_at": "={{ $now }}",
            "updated_at": "={{ $now }}",
            "google_event_id": "={{ $('Code in JavaScript').item.json.datos_cita.google_event_id }}",
            "estado_cita": "CREADA",
            "motivo_consulta": "={{ $('Code in JavaScript').item.json.datos_cita.motivo_consulta }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_paciente",
              "displayName": "telefono_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_hora_cita",
              "displayName": "fecha_hora_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_cita",
              "displayName": "estado_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -1200
      ],
      "id": "5a29914f-a352-44c3-b49d-36f51f5e87bd",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_hora_cita": "={{ $('Code in JavaScript').item.json.datos_cita.fecha_hora }}",
            "updated_at": "={{ $now }}",
            "id": 0,
            "estado_cita": "REPROGRAMADA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_paciente",
              "displayName": "telefono_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_hora_cita",
              "displayName": "fecha_hora_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado_cita",
              "displayName": "estado_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -1008
      ],
      "id": "952633c2-27de-47b4-82c8-5d3699fc2e30",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Code in JavaScript').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        -784
      ],
      "id": "c85aaa42-cae5-419b-823d-c466be636ce2",
      "name": "Mensaje Maestro WhatsApp1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Code in JavaScript').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -944
      ],
      "id": "f6c68794-ec97-4035-942b-ecb1ba8f4b07",
      "name": "Mensaje Maestro WhatsApp2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Code in JavaScript').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        -1136
      ],
      "id": "477f78c4-11f9-4c0f-8c01-16a948992c4c",
      "name": "Mensaje Maestro WhatsApp3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pacientes",
          "mode": "list",
          "cachedResultName": "pacientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_whatsapp": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
            "nombre_paciente": "={{ $('Code in JavaScript').item.json.datos_cita.nombre_paciente }}",
            "created_at": "={{ $now }}"
          },
          "matchingColumns": [
            "telefono_whatsapp"
          ],
          "schema": [
            {
              "id": "telefono_whatsapp",
              "displayName": "telefono_whatsapp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_paciente",
              "displayName": "nombre_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -1200
      ],
      "id": "d111e3ce-a616-41a6-a933-5430484ebf80",
      "name": "Insert or update rows in a table2",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "estado_cita": "CANCELADA"
          },
          "matchingColumns": [
            "google_event_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_paciente",
              "displayName": "telefono_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_hora_cita",
              "displayName": "fecha_hora_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_cita",
              "displayName": "estado_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -832
      ],
      "id": "6c0409c3-d608-4f45-80af-768078af51c6",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de proceso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío Mensaje Petición cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLICITUD HUMANO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de proceso",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Agente de proceso",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente FAQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clasificador De Intenciones": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío Mensaje error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente FAQ": {
      "main": [
        [
          {
            "node": "Envío Mensaje Frecuente WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de proceso": {
      "main": [
        [
          {
            "node": "Envío Mensaje Proceso WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Maestro Citas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Verificador Payloads": {
      "main": [
        [
          {
            "node": "If malicioso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If malicioso": {
      "main": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío WhatsApp": {
      "main": [
        [
          {
            "node": "Aviso Error Log Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío Mensaje error": {
      "main": [
        [
          {
            "node": "Alerta de Error a Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Verificador Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Maestro WhatsApp": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Maestro WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table2": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Lima",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dd6384c2-9f56-403e-8a05-3a66ceea00a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e847df90d1d13245580751d610403e96b18f1d2a0ddccff8559796e30435b378"
  },
  "id": "aR8yICkRQbJu3t6g",
  "tags": []
}