FlujoWhatsAppN8N.json
{
  "name": "TallerIntegrador WhatsApp",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        -48
      ],
      "id": "d4fdad49-4190-471d-aab5-460c0ae39f0a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7720dc8f-5fef-42f3-a79c-ccf42120b9b5",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "proceso de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "inicio de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a10583a1-f1fb-487e-bbc9-eeb902b85caf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9c3cb8e-4915-4fde-a731-f7c8b5ceee15",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "no cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "03303bdd-81fa-4f79-82ce-fa7a2dc896fd",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "preguntas frecuentes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "daa6c69d-299a-41d2-af7b-9ea65f465a25",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "comunicar humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4652174c-761f-4def-8d5a-18837fa07fa1",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "consulta de cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc6d8328-0c00-4f6f-be46-165f06e645ec",
                    "leftValue": "={{ $('Agente Clasificador De Intenciones').item.json.output }}",
                    "rightValue": "consulta de productos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        -400
      ],
      "id": "f179b911-ad4e-4db1-b674-c541d5442bd9",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        -304
      ],
      "id": "0682e2e4-207c-4b13-9f76-60660bee146b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        112,
        -736
      ],
      "id": "52f17e51-a27e-4ee7-8151-0958f591fbd8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        720,
        -304
      ],
      "id": "6e2f27f4-480d-45ba-825f-25514d42c54c",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        176,
        -560
      ],
      "id": "182c9b9f-47a5-43a8-b21f-3293a2226999",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        -768
      ],
      "id": "14975a09-c1c6-4449-baf4-835923337426",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        -672
      ],
      "id": "ee6b79e8-7674-4380-bd7f-53c90aebe6fd",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        -768
      ],
      "id": "ca9bcc6f-a1b5-4306-ae9d-6428ce1a8ef8",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        -672
      ],
      "id": "5ed37146-8bd6-4426-8b7a-b43dcc212eaa",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "automatizadon8n@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizadon8n@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        -672
      ],
      "id": "7f8a3dbb-804e-48d3-ba76-2d4b33afdb88",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nxezz4rfT0NvInV2",
          "name": "Google Calendar Automatizadon8n"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        864,
        -16
      ],
      "id": "e194c409-7694-41f9-b5da-14e28070021a",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "Eres un analizador de texto estricto diseñado para el enrutamiento lógico de un flujo de automatización. Tu única función es la clasificación de intenciones para una clínica odontológica.\n\nREGLA DE ORO: El sistema fallará si tu respuesta contiene algo más que una de las siguientes etiquetas exactas. NO saludes, NO des explicaciones, NO uses puntuación. Devuelve SOLO LA ETIQUETA.\n\nOPCIONES VÁLIDAS (Elige solo una):\ninicio de cita\nproceso de cita\npreguntas frecuentes\ncomunicar humano\nno cita\nconsulta de cita\nconsulta de productos\n\nDEFINICIONES:\n- inicio de cita: Saludo, pide información inicial para agendar o solicita turno por primera vez (el sistema AÚN NO ofrece fechas ni pide datos).\n- proceso de cita: Continúa un agendamiento en marcha (da datos pedidos, confirma horario, propone otra hora).\n- preguntas frecuentes: Pregunta tratamientos, precios, ubicación, horarios, casos específicos (SIN confirmar agendamiento).\n- comunicar humano: Pide hablar con el doctor, administración, asesor o reporta emergencia.\n- no cita: Mensajes irrelevantes, audios vacíos, despedidas, temas fuera de odontología.\n- consulta de cita: Pregunta cuándo es su próxima cita o pide recordatorio.\n- consulta de productos: Pregunta por artículos físicos a la venta o stock."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        -288
      ],
      "id": "9aa5eaa0-fcd9-4ffb-8439-a1cafcae398b",
      "name": "Agente Clasificador De Intenciones",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=# ROL Y OBJETIVO\nEres un agente de Inteligencia Artificial especializado en atención al paciente por canales como WhatsApp y llamadas para una clínica odontológica. \nTu objetivo principal es resolver consultas frecuentes (tratamientos, horarios y costos) de manera precisa y lograr la mayor **eficiencia en la gestion de citas**, orientando la conversación hacia la reserva de una evaluación inicial.\nLa fecha y hora actual es: {{ $now }}, hora peruana.\n\n# HORARIOS Y POLÍTICAS DE AGENDAMIENTO\n- Horario de atención regular: Lunes a sábado de 8:00 am a 12:00 pm y de 4:00 pm a 9:00 pm (Excepto feriados).\n- Anticipación: Las citas regulares se agendan con un margen de hasta 72 horas. Indica al paciente que usualmente no hay disponibilidad para el mismo día.\n- Citas de urgencia: Si el paciente presenta una urgencia, indícale que estas se gestionan en un horario extra que debe ser aprobado y decidido exclusivamente por el odontólogo principal. Toma sus datos para consultarlo.\n\n# BASE DE CONOCIMIENTO (KNOWLEDGE BASE)\n\n## 1. Tratamientos y Duraciones\nUtiliza los siguientes tiempos como referencia para explicar al paciente o buscar disponibilidad:\n- Restauraciones, Endodoncias y Ortodoncias: 20 a 30 minutos.\n- Cirugías (ej. extracción de cordales/muelas del juicio) y Rehabilitación Oral: 30 a 60 minutos.\n- Blanqueamiento dental: 30 a 45 minutos.\n\n## 2. Restricciones Estrictas (Lo que NO se hace)\n- No se atiende a niños bajo ninguna circunstancia.\n- No se realizan cirugías ortognáticas.\n- No se realizan cirugías condilares ni tumorales.\n- Casos complejos: No asumas diagnósticos. Si el paciente menciona un caso fuera de lo común, indica que debe ser evaluado directamente por el doctor para confirmar viabilidad.\n\n## 3. Costos y Métodos de Pago\n- Precios: Nunca proporciones montos específicos ni presupuestos exactos. El costo final es determinado exclusivamente por el doctor bajo su criterio tras la evaluación clínica.\n- Métodos de pago aceptados: Únicamente dinero en efectivo.\n\n# REGLAS DE COMPORTAMIENTO (CONSTRAINTS)\n1. Tono: Mantén un lenguaje empático, profesional, claro y persuasivo.\n2. Derivación a Cita: Toda respuesta relacionada con disponibilidad, precios o tratamientos complejos debe concluir con una invitación directa a agendar una cita de evaluación.\n3. Límites de alcance: Si el usuario pregunta algo fuera del ámbito odontológico o de la clínica, responde amablemente que tu función es exclusiva para la asistencia dental.\n\n# FORMATO DE RESPUESTA ESPERADO\n- Sé conciso. Evita los párrafos largos y adáptate a la lectura rápida en WhatsApp.\n- Usa listas con viñetas si debes enumerar información (como los horarios o tratamientos).\n- Termina siempre tu intervención cediéndole la palabra al usuario con una pregunta orientada a agendar la cita o continuar el proceso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        -208
      ],
      "id": "0519cf23-98eb-4cbb-9a96-b35b3b11fc3e",
      "name": "Agente FAQ"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=Eres un experto gestor de citas de horarios para una clinica odontologica.\nLa fecha y hora actual es: {{ $now }}, hora peruana.\nComo se está empezando la cita debes saludar y preguntar para que fecha desea la cita.\n\nLa persona que te habla es un cliente, por lo que no es el dueño.\n\nLímites de alcance: Si el usuario pregunta algo fuera del ámbito odontológico o de la clínica, responde amablemente que tu función es exclusiva para la asistencia dental.\n\n# HORARIOS DE ATENCIÓN Y POLÍTICAS DE AGENDA\nSolo puedes agendar citas dentro del siguiente horario laboral (lunes a sábado, excepto feriados):\n- Mañanas: 8:00 AM a 12:00 PM\n- Tardes: 4:00 PM a 9:00 PM\n(No agendes fuera de estos rangos bajo ninguna circunstancia).\n\n# FORMATO DE RESPUESTA ESPERADO\n- Sé conciso. Evita los párrafos largos y adáptate a la lectura rápida en WhatsApp.\n- Usa listas con viñetas si debes enumerar información.\n- Termina siempre tu intervención cediéndole la palabra al usuario con una pregunta orientada a agendar la cita o continuar el proceso.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -496
      ],
      "id": "66a20e6e-785e-4357-83d6-fa1a9061a82e",
      "name": "Agente de proceso"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "=# ROL Y OBJETIVO\nEres un asistente virtual experto y amable, especializado en una clínica odontológica y con acceso a herramientas de Google Calendar. Tu objetivo principal es ayudar a los pacientes a consultar horarios, agendar, modificar o cancelar sus citas, logrando la mayor eficiencia en la gestion de citas y ofreciendo una experiencia fluida y sin fricciones. \nNO gestionas la agenda personal del doctor, solo atiendes a los pacientes.\n\n# CONTEXTO TEMPORAL E IDENTIDAD\n- La fecha y hora actual es: {{ $now }} (Hora de Perú, GMT-5).\n- Si el usuario menciona un día de la semana (ej. \"el martes\") sin dar fecha exacta, asume que se refiere al *próximo* día que coincida con ese nombre en el calendario.\n- IDENTIDAD VERIFICADA: El número de teléfono validado de este paciente es `{{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}`. Este es el único identificador autorizado para consultar o modificar su historial.\n\n# HORARIOS DE ATENCIÓN Y POLÍTICAS DE AGENDA\nSolo puedes agendar citas dentro del siguiente horario laboral (lunes a sábado, excepto feriados):\n- Mañanas: 8:00 AM a 12:00 PM\n- Tardes: 4:00 PM a 9:00 PM\n(No agendes fuera de estos rangos bajo ninguna circunstancia).\n\nPolíticas de anticipación y urgencias:\n- Las citas regulares se agendan con un margen de hasta 72 horas.\n- NO permitas agendar citas para el mismo día (usualmente no hay espacios libres).\n- Citas de urgencia: No las agendes directamente en el calendario. Indica que se gestionan en un horario extra decidido por el odontólogo principal y toma los datos del paciente para que la clínica se comunique con él.\n\n# DURACIÓN DE LAS CITAS (CALCULO DE BLOQUES)\nAjusta la duración del evento en el calendario según el motivo de la consulta:\n- Restauraciones, Endodoncias y Ortodoncias: 30 minutos.\n- Blanqueamiento dental: 45 minutos.\n- Cirugías (ej. cordales) y Rehabilitación oral: 60 minutos.\n- Evaluaciones iniciales / Revisiones generales: 30 minutos.\n\nRestricciones de atención (NO agendar bajo ninguna circunstancia):\n- Pacientes niños (la clínica no atiende odontopediatría).\n- Cirugías ortognáticas, condilares o tumorales.\n\n# REGLAS DE FLUJO Y USO DE HERRAMIENTAS\n1. CONSULTA DE DISPONIBILIDAD: Antes de ofrecer un horario o confirmar una cita, SIEMPRE revisa el calendario para asegurarte de que el espacio está libre. Saluda cordialmente y ofrece los espacios disponibles respetando la regla de no agendar el mismo día.\n2. CREACIÓN DE CITAS: Para agendar, debes recopilar: \n   - Nombre del paciente (verifica que sea adulto - Obligatorio).\n   - Motivo de la cita (para calcular la duración y verificar que no sea un servicio restringido - Obligatorio).\n   - Fecha y hora exacta (validada previamente - Obligatorio).\n   - Correo electrónico (Opcional). Justo antes de pedirle la confirmación final para agendar, pregúntale amablemente si desea proporcionar su correo electrónico para recibir recordatorios.\n   Solo cuando el paciente confirme explícitamente la cita (y haya respondido sobre el correo, ya sea dándolo o declinando), procede a agendarla en el calendario.\n3. ACTUALIZACIÓN DE CITAS: Si un paciente desea cambiar su cita, pregúntale por el motivo de cita, nuevo día y hora desea reprogramarla y verifica disponibilidad. Deben estar esos datos, si no estan todos no se puede continuar con la actualización. OBLIGATORIO: Debes aplicar la regla 5 de validación de identidad antes de ejecutar cualquier cambio en el calendario.\n4. CANCELACIÓN DE CITAS (RESTRICCIONES CRÍTICAS):\n   - SOLO puedes eliminar citas si previamente aplicaste la regla 5 y confirmaste mediante la base de datos que la cita le pertenece a este teléfono.\n   - REGLA DE 24 HORAS: Solo se permite cancelar una cita si falta MÁS de 1 día (24 horas) para que esta ocurra. Si falta menos tiempo, informa amablemente que las políticas de la clínica no permiten cancelaciones de último minuto.\n5. BÚSQUEDA Y VALIDACIÓN OBLIGATORIA (CANDADO DE SEGURIDAD): Si el paciente quiere consultar, reprogramar o cancelar una cita, ESTÁS OBLIGADO a usar la herramienta \"obtener_citas_activas_paciente\" pasándole ÚNICAMENTE su número verificado detallado en el Contexto de Identidad. Una vez que la herramienta te devuelva sus citas activas, busca el evento correspondiente. SOLO puedes actualizar o cancelar en Google Calendar si utilizas un `google_event_id` que provenga exactamente de los resultados de esta herramienta.\n\n# TONO DE RESPUESTA\nSé empático, profesional, claro y conciso. Evita respuestas excesivamente largas; ve directo a la gestión de la cita manteniendo la amabilidad y confirmando siempre las acciones realizadas en el calendario.\n\n# FORMATO DE RESPUESTA OBLIGATORIO\nTu respuesta final DEBE ser única y exclusivamente un objeto JSON válido, sin formato Markdown (no uses ```json), sin texto introductorio y sin despedidas fuera del JSON.\n\nDebes analizar las acciones que tomaste con las herramientas de Google Calendar en este turno y generar el JSON con la siguiente estructura exacta:\n\n{\n  \"mensaje_paciente\": \"Aquí redactas la respuesta empática y natural que leerá el paciente en WhatsApp.\",\n  \"accion_realizada\": \"VALOR\",\n  \"datos_cita\": {\n    \"nombre_paciente\": \"Nombre del paciente o null\",\n    \"correo_electronico\": \"Correo electrónico del paciente o null\",\n    \"fecha_hora\": \"YYYY-MM-DDTHH:mm:00-05:00 o null\", \n    \"motivo_consulta\": \"Motivo resumido o null\",\n    \"google_event_id\": \"ID del evento o null\"\n  }\n}\n\nRecuerda que la base de datos tiene los horarios en formato universal\n\nReglas para el campo \"accion_realizada\":\n- Usa \"CREATE\" si acabas de agendar una cita nueva.\n- Usa \"UPDATE\" si acabas de reprogramar una cita existente.\n- Usa \"DELETE\" si acabas de cancelar una cita.\n- Usa \"NONE\" si solo consultaste disponibilidad, si el usuario no confirmó, o si respondiste una duda general."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -944
      ],
      "id": "e7e0496f-4329-4e2d-a129-07cb7972a6ad",
      "name": "Agente Maestro Citas",
      "retryOnFail": true,
      "waitBetweenTries": 4000,
      "maxTries": 5
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -480,
        -48
      ],
      "id": "de590a43-8f25-4469-ac7a-368cbd75d6de",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lista de expresiones regulares para detectar patrones maliciosos comunes\nconst maliciousPatterns = [\n  /ignora.*instrucciones/i,           // Prompt injection en español\n  /ignore.*previous.*instructions/i,  // Prompt injection en inglés\n  /system prompt/i,                   // Intentos de extraer el prompt del sistema\n  /jailbreak/i,                       // Intentos de evasión\n  /actúa como.*sin restricciones/i,   // Patrones de DAN (Do Anything Now)\n  /bypass/i,                          // Intentos de saltar filtros\n  /<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, // XSS básico\n  /(UNION|SELECT|DROP|INSERT).*;/i    // Inyección SQL básica (por precaución)\n];\n\n// Límite de caracteres para evitar ataques de denegación de servicio por prompts gigantes\nconst MAX_LENGTH = 1500; \n\nfor (const item of $input.all()) {\n  // Ajuste para extraer el texto correctamente desde el webhook de Chatwoot\n  // El mensaje principal viene en la propiedad \"content\" dentro de \"body\"\n  const text = item.json?.body?.content || \"\";\n  \n  let isMalicious = false;\n  let reason = \"\";\n\n  // 1. Verificación de longitud\n  if (text.length > MAX_LENGTH) {\n    isMalicious = true;\n    reason = \"Payload supera el límite de longitud permitido.\";\n  }\n\n  // 2. Verificación de patrones con Regex\n  if (!isMalicious && text.length > 0) {\n    for (const pattern of maliciousPatterns) {\n      if (pattern.test(text)) {\n        isMalicious = true;\n        reason = `Detectado patrón sospechoso: ${pattern.toString()}`;\n        break;\n      }\n    }\n  }\n\n  // Agregamos las banderas al JSON de salida para poder enrutarlo después (usando un Switch Node o If Node)\n  item.json.securityCheck = {\n    isMalicious: isMalicious,\n    reason: reason\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -272
      ],
      "id": "833cd1c3-8451-484e-b267-5ec670f45ccf",
      "name": "Verificador Payloads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93c83532-8d93-45b9-ba1a-47bcaff976a9",
              "leftValue": "={{ $json.securityCheck.isMalicious }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        -272
      ],
      "id": "d750e8ac-1ee6-4526-bdb2-1eae7fa5b0f6",
      "name": "If malicioso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Por favor, no mande mensajes maliciosos"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        -32
      ],
      "id": "52aeafc0-4fce-4ff3-a3ff-af9936773553",
      "name": "Envío WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Ocurrio un error, por favor vuelva a enviar el mensaje."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -80
      ],
      "id": "9ad5b70a-7689-4450-9981-5a256092c2f6",
      "name": "Envío Mensaje error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        -208
      ],
      "id": "7b6cc7bc-0ad0-410f-87fd-a6b3b84281c6",
      "name": "Envío Mensaje Frecuente WA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        -480
      ],
      "id": "275903bd-0258-44ea-9563-fe1254c15e9e",
      "name": "Envío Mensaje Proceso WA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Modificador a json').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -640
      ],
      "id": "f38c1e0a-e418-426d-84f4-20633de6736e",
      "name": "Mensaje Maestro WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=Ocurrió un error en un log, porfavor revisar.\nId: {{ $json.result.chat.id }} \nFirst Name: {{ $json.result.chat.first_name }} \nLast Name: {{ $json.result.chat.last_name }} \nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        128
      ],
      "id": "79efddf2-73a2-4cac-8f37-a33ef311d122",
      "name": "Aviso Error Log Admin",
      "webhookId": "f6ae22ee-7dbe-41f4-a499-b2f1fb0ef725",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=Ocurrió un error en un log, porfavor revisar\nTime: {{ $now }}\nId: {{ $json.result.chat.id }}\nFirst Name: {{ $json.result.chat.first_name }}\nLast Name: {{ $json.result.chat.last_name }}\nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}\nId Workflow: {{ $workflow.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -400,
        208
      ],
      "id": "262928d1-0ca3-4011-b283-eae6553cdf87",
      "name": "Alerta de Error a Admin",
      "webhookId": "f6ac2bc0-7ff3-4da1-8a63-58ed2c4feb52",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orlandop3789@gmail.com",
        "subject": "Informe de error",
        "emailType": "text",
        "message": "=SE SOLICITA COMUNICACION CON UN HUMANO, porfavor revisar\nTime: {{ $now }}\nId: {{ $json.result.chat.id }}\nFirst Name: {{ $json.result.chat.first_name }}\nLast Name: {{ $json.result.chat.last_name }}\nText: {{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}\nId Workflow: {{ $workflow.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -176
      ],
      "id": "63d7dd78-af21-4e4d-bf01-e0a915671495",
      "name": "SOLICITUD HUMANO",
      "webhookId": "2d8decac-a79a-450f-aed9-389346ddd2da",
      "credentials": {
        "gmailOAuth2": {
          "id": "ykZyOmxgngbomNSQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=¡Buen dia!\nPor favor indique si necesita una cita o informacion adicional."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -384
      ],
      "id": "76ce3677-cf47-4f68-80c9-eac7661cacba",
      "name": "Envío Mensaje Petición cita",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -688
      ],
      "id": "492d31f3-4a45-41a4-b4f0-a6f603e28806",
      "name": "Trigger Mensaje WhatsApp",
      "webhookId": "2cc8a1c3-38fc-4eac-be0e-536dc1011783"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Modificador a json').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        -784
      ],
      "id": "c85aaa42-cae5-419b-823d-c466be636ce2",
      "name": "Mensaje Maestro WhatsApp1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Modificador a json').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -944
      ],
      "id": "f6c68794-ec97-4035-942b-ecb1ba8f4b07",
      "name": "Mensaje Maestro WhatsApp2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Modificador a json').item.json.mensaje_paciente }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        -1136
      ],
      "id": "477f78c4-11f9-4c0f-8c01-16a948992c4c",
      "name": "Mensaje Maestro WhatsApp3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el texto crudo que devolvió el Agente\nlet rawOutput = $input.first().json.output || \"\";\n\n// 2. Limpiamos cualquier rastro de Markdown que el LLM haya podido agregar por error\nlet cleanedOutput = rawOutput.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  // 3. Convertimos el texto en un objeto JSON procesable\n  const parsedData = JSON.parse(cleanedOutput);\n  \n  // 4. (NUEVO) Aseguramos que la estructura de datos_cita esté completa.\n  // Si la IA olvidó el campo del correo, lo forzamos a null para evitar errores en los siguientes nodos.\n  if (parsedData.datos_cita) {\n      parsedData.datos_cita.correo_electronico = parsedData.datos_cita.correo_electronico || null;\n  }\n  \n  // Retornamos los datos limpios para que los siguientes nodos los usen\n  return { json: parsedData };\n\n} catch (error) {\n  // 5. Mecanismo de seguridad: Si el LLM alucinó y no dio un JSON válido, \n  // enviamos un mensaje de error al paciente y evitamos que el flujo falle críticamente.\n  return {\n    json: {\n      \"mensaje_paciente\": \"Tuvimos un pequeño inconveniente procesando tu solicitud en el sistema. ¿Podrías confirmarme tu requerimiento nuevamente?\",\n      \"accion_realizada\": \"NONE\",\n      \"datos_cita\": {\n        \"nombre_paciente\": null,\n        \"correo_electronico\": null,\n        \"fecha_hora\": null,\n        \"motivo_consulta\": null,\n        \"google_event_id\": null\n      },\n      \"error_interno\": error.message\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -1008
      ],
      "id": "aa67eccf-dc62-4406-84bd-43f721f77176",
      "name": "Modificador a json"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "CREATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "abd4992d-d79f-4873-b81f-f85fa4bb237e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "19095603-1070-40dd-864f-34ce37d4f3a8",
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c20ba90-b10e-4689-9072-5e4f567c3dd5",
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3dd06a39-c76b-4242-be8a-6d29792932e8",
                    "leftValue": "={{ $json.accion_realizada }}",
                    "rightValue": "NONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        -1056
      ],
      "id": "9a3031b7-5acc-4c21-a079-16baf030727e",
      "name": "Switch de BD"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pacientes",
          "mode": "list",
          "cachedResultName": "pacientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_whatsapp": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
            "nombre_paciente": "={{ $('Modificador a json').item.json.datos_cita.nombre_paciente }}"
          },
          "matchingColumns": [
            "telefono_whatsapp"
          ],
          "schema": [
            {
              "id": "telefono_whatsapp",
              "displayName": "telefono_whatsapp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_paciente",
              "displayName": "nombre_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -1200
      ],
      "id": "d111e3ce-a616-41a6-a933-5430484ebf80",
      "name": "Upsert in row Paciente",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_paciente": "={{ $('Trigger Mensaje WhatsApp').item.json.body.conversation.messages[0].sender.phone_number }}",
            "fecha_hora_cita": "={{ $('Modificador a json').item.json.datos_cita.fecha_hora ? DateTime.fromISO($('Modificador a json').item.json.datos_cita.fecha_hora).toISO() : undefined }}",
            "updated_at": "={{ $now }}",
            "google_event_id": "={{ $('Modificador a json').item.json.datos_cita.google_event_id }}",
            "estado_cita": "AGENDADA",
            "motivo_consulta": "={{ $('Modificador a json').item.json.datos_cita.motivo_consulta }}",
            "correo_electronico": "={{ $('Modificador a json').item.json.datos_cita.correo_electronico }}",
            "recordatorio_enviado": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_paciente",
              "displayName": "telefono_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_hora_cita",
              "displayName": "fecha_hora_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_cita",
              "displayName": "estado_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalles_notas_cita",
              "displayName": "detalles_notas_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recordatorio_enviado",
              "displayName": "recordatorio_enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -1200
      ],
      "id": "5a29914f-a352-44c3-b49d-36f51f5e87bd",
      "name": "Insert in row Cita",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "google_event_id": "={{ $json.datos_cita.google_event_id }}",
            "fecha_hora_cita": "={{ $('Modificador a json').item.json.datos_cita.fecha_hora ? DateTime.fromFormat($('Modificador a json').item.json.datos_cita.fecha_hora.replace('T', ' '), 'yyyy-MM-dd HH:mm', { zone: 'America/Lima' }).toISO() : undefined }}",
            "motivo_consulta": "={{ $('Modificador a json').item.json.datos_cita.motivo_consulta }}",
            "estado_cita": "REPROGRAMADA",
            "updated_at": "={{ $now }}",
            "correo_electronico": "={{ $('Modificador a json').item.json.datos_cita.correo_electronico }}"
          },
          "matchingColumns": [
            "google_event_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_paciente",
              "displayName": "telefono_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_hora_cita",
              "displayName": "fecha_hora_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_cita",
              "displayName": "estado_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detalles_notas_cita",
              "displayName": "detalles_notas_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -1008
      ],
      "id": "952633c2-27de-47b4-82c8-5d3699fc2e30",
      "name": "Update rows Cita",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "estado_cita": "CANCELADA",
            "google_event_id": "={{ $('Modificador a json').item.json.datos_cita.google_event_id }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "google_event_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_paciente",
              "displayName": "telefono_paciente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_hora_cita",
              "displayName": "fecha_hora_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado_cita",
              "displayName": "estado_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalles_notas_cita",
              "displayName": "detalles_notas_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -832
      ],
      "id": "6c0409c3-d608-4f45-80af-768078af51c6",
      "name": "SoftDelete Cita",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        160
      ],
      "id": "4338ed18-2dec-4067-bab7-22324d5e6f13",
      "name": "Envío Mensaje Consulta Citas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        496,
        320
      ],
      "id": "e3b955d3-837e-434e-8b52-d8c38b8bd919",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}",
        "tableName": "mensajes_whatsapp",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        688,
        368
      ],
      "id": "597e880f-79ea-40f1-b145-470ed0ec8df1",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí están los registros de la base de datos en formato JSON para este paciente:\n{{ JSON.stringify($input.all().map(item => item.json)) }}",
        "options": {
          "systemMessage": "=La hora actual es: {{ $now }}\n\n# ROL Y OBJETIVO\nEres el asistente virtual de una clínica odontológica. El sistema acaba de buscar en la base de datos el historial de citas del paciente y te proporcionará los datos crudos.\n\n# INSTRUCCIÓN CRÍTICA DE TIEMPO Y ZONA HORARIA\n1. **Ajuste de Zona Horaria:** Las fechas que recibirás del sistema están en formato UTC (terminan en Z). Como la clínica está en Perú (GMT-5), DEBES restarle exactamente 5 horas a la \"fecha_hora_cita\" para obtener la hora local antes de evaluarla o decírsela al paciente. Por ejemplo, si el dato dice 23:00:00Z, la cita es a las 6:00 PM.\n2. **Evaluación de Tiempo:** Siempre compara la hora local ajustada de la cita con la \"hora actual\" proporcionada al inicio de este prompt.\n\n# REGLAS DE RESPUESTA\nEvalúa los datos recibidos y aplica ÚNICAMENTE la regla que corresponda al escenario del paciente:\n\n* **ESCENARIO A (Cita Pasada):** Si la hora de la cita (ya ajustada a GMT-5) es anterior a la hora actual, infórmale con mucha empatía que el horario de su cita ya pasó y ofrécele amablemente la opción de reagendar.\n* **ESCENARIO B (Cita Futura):** Si la cita aún no ha pasado y tiene estado \"CREADA\" o \"REPROGRAMADA\" (ignora duplicados con la misma hora y motivo), redacta un mensaje muy amable, empático y directo confirmando la fecha, la hora local correcta y el motivo de su cita.\n* **ESCENARIO C (Sin Citas):** Si todas las citas tienen estado \"CANCELADA\" o recibes un JSON vacío, responde amablemente que actualmente no tiene ninguna cita programada y pregúntale si desea agendar una evaluación inicial.\n\n# RESTRICCIONES ESTRICTAS\n* Bajo ninguna circunstancia menciones IDs de bases de datos, el \"google_event_id\", ni uses lenguaje técnico de sistemas.\n* Devuelve ÚNICAMENTE el texto final que el paciente leerá en WhatsApp, sin saludos introductorios de IA, sin comillas adicionales y sin bloques markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        144
      ],
      "id": "2442ca04-c2e4-4038-8ef1-f1509ffe6387",
      "name": "Agente consultor de citas",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "limit": 10,
        "where": {
          "values": [
            {
              "column": "telefono_paciente",
              "value": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].sender.phone_number }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "fecha_hora_cita",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -32
      ],
      "id": "7ad6eeeb-4aa3-4e2b-89e2-1a268eb85f91",
      "name": "Consulta de citas",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Entendido. He notificado a nuestro equipo y un especialista humano se comunicará contigo a la brevedad posible por este medio. ¿Hay algo más en lo que pueda ayudarte mientras tanto?"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -128
      ],
      "id": "a4a57167-aac8-4a11-bd5c-9ef0729af305",
      "name": "Envío Mensaje SOLICITUD HUMANO",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Verificador Payloads').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "# ROL Y OBJETIVO\nEres el Asesor Comercial y de Farmacia de una prestigiosa clínica odontológica. Tu objetivo principal es informar a los pacientes sobre los productos físicos, kits de higiene y accesorios dentales que el doctor tiene disponibles para la venta directa en la clínica.\n\n# CATÁLOGO DE PRODUCTOS Y PRECIOS (Stock Disponible)\n\n## 1. Kits y Cuidado Diario\n* **Kit de Ortodoncia Premium (S/ 45.00):** Ideal para pacientes con brackets. Incluye cepillo viajero, cera de ortodoncia, cepillos interdentales (3 medidas), enhebradores e hilo dental especial.\n* **Pasta Dental Desensibilizante Clínica (S/ 35.00):** Fórmula de alta concentración no disponible en farmacias regulares. Recomendada para uso post-blanqueamiento o sensibilidad extrema.\n* **Tabletas Efervescentes Limpiadoras (S/ 50.00):** Caja con 30 tabletas. Para la limpieza profunda y desinfección de férulas de bruxismo, alineadores invisibles o prótesis removibles.\n\n## 2. Tecnología Dental\n* **Cepillo Eléctrico Sónico Avanzado (S/ 250.00):** Batería recargable, temporizador inteligente de 2 minutos y 3 modos de cepillado. Incluye 2 cabezales de repuesto.\n* **Irrigador Bucal Portátil (Water Flosser) (S/ 180.00):** Reemplazo perfecto o complemento del hilo dental. Ideal para limpiar puentes, implantes y brackets. Tanque de 300ml y carga USB.\n\n# REGLAS DE COMPORTAMIENTO (CONSTRAINTS)\n1. **Límites de tu rol:** Eres un experto en estos productos. Si el paciente intenta agendar una cita o pregunta por un procedimiento médico (como el costo de una extracción), indícale amablemente que tu función es asesorar sobre los productos a la venta, pero que puedes transferir su consulta al área de citas si lo desea.\n2. **Métodos de entrega:** Todos los productos se recogen y pagan presencialmente en la recepción de la clínica. No hacemos envíos por delivery.\n3. **Formato:** Sé muy conciso. Usa viñetas para listar opciones si el paciente pide recomendaciones. Evita respuestas robóticas o bloques de texto densos.\n4. **Cierre de ventas:** Siempre termina tu mensaje con una pregunta que invite a la acción, por ejemplo: \"Si deseas algún producto puedes acercarte a la clínica y pedirlo\" o \"¿Te gustaría saber más detalles sobre alguno en particular?\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        80
      ],
      "id": "508907a1-29ee-42f9-8852-b25aa13ab462",
      "name": "Agente de Productos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        304
      ],
      "id": "f93476fb-9d7a-497a-ad18-605fafd02803",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "wqIh4jmMGJQ1PNQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.orlandopa.dev/api/v1/accounts/{{ $('Verificador Payloads').item.json.body.account.id }}/conversations/{{ $('Verificador Payloads').item.json.body.conversation.id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "content_attributes",
              "value": "{}"
            },
            {
              "name": "campaign_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        176
      ],
      "id": "d13ff3bc-7a6b-4c2f-a904-6bc5c60e06ca",
      "name": "Envío Mensaje Consulta Productos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7gsQR2AvGZtq7Dwx",
          "name": "Header Auth account CHATWOOT AUTOALOJADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.google_event_id,\n  c.fecha_hora_cita,\n  c.motivo_consulta,\n  c.estado_cita,\n  p.nombre_paciente\nFROM public.citas c\nINNER JOIN public.pacientes p ON c.telefono_paciente = p.telefono_whatsapp\nWHERE c.telefono_paciente = $1\n  AND c.estado_cita IN ('CREADA', 'REPROGRAMADA', 'AGENDADA');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        800,
        -816
      ],
      "id": "d6792184-ba8d-403b-bfe8-3e08eaf9eaf2",
      "name": "obtener_citas_activas_paciente",
      "credentials": {
        "postgres": {
          "id": "FGxUBlWatrrLsrJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "50285998-92e9-4b09-833c-d5e31eab3b81",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -960,
        -480
      ],
      "id": "5ad074c0-a470-477a-8d31-50b7f2e4c888",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de proceso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío Mensaje Petición cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLICITUD HUMANO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta de citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de proceso",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Agente de proceso",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente FAQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clasificador De Intenciones": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío Mensaje error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente FAQ": {
      "main": [
        [
          {
            "node": "Envío Mensaje Frecuente WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de proceso": {
      "main": [
        [
          {
            "node": "Envío Mensaje Proceso WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Maestro Citas": {
      "main": [
        [
          {
            "node": "Modificador a json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Verificador Payloads": {
      "main": [
        [
          {
            "node": "If malicioso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If malicioso": {
      "main": [
        [
          {
            "node": "Agente Clasificador De Intenciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envío WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío WhatsApp": {
      "main": [
        [
          {
            "node": "Aviso Error Log Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío Mensaje error": {
      "main": [
        [
          {
            "node": "Alerta de Error a Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Maestro WhatsApp": {
      "main": [
        []
      ]
    },
    "Modificador a json": {
      "main": [
        [
          {
            "node": "Switch de BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch de BD": {
      "main": [
        [
          {
            "node": "Upsert in row Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SoftDelete Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Maestro WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert in row Paciente": {
      "main": [
        [
          {
            "node": "Insert in row Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert in row Cita": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows Cita": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SoftDelete Cita": {
      "main": [
        [
          {
            "node": "Mensaje Maestro WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agente consultor de citas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Agente consultor de citas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente consultor de citas": {
      "main": [
        [
          {
            "node": "Envío Mensaje Consulta Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta de citas": {
      "main": [
        [
          {
            "node": "Agente consultor de citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLICITUD HUMANO": {
      "main": [
        [
          {
            "node": "Envío Mensaje SOLICITUD HUMANO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Productos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Productos": {
      "main": [
        [
          {
            "node": "Envío Mensaje Consulta Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_citas_activas_paciente": {
      "ai_tool": [
        [
          {
            "node": "Agente Maestro Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Verificador Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Lima",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e6841c27-ae56-4e3d-a2eb-71b80debf788",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e847df90d1d13245580751d610403e96b18f1d2a0ddccff8559796e30435b378"
  },
  "id": "aR8yICkRQbJu3t6g",
  "tags": []
}